<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="font-family-serif">

<a class="usa-skipnav" href="#main-content">Skip to main content</a>
 
<!--<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
  <div class="usa-logo" id="basic-logo">
    <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">CDFI: Access for All</a></em>
  </div>
  <button class="usa-menu-btn">Menu</button>
</div>
<!--<nav role="navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="/assets/img/close.svg" alt="close"></button>
<ul class="usa-nav__primary usa-accordion"><li class="usa-nav__primary-item">
    <button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false" aria-controls="basic-nav-section-one"><span>Current section</span></button>
    <ul id="basic-nav-section-one" class="usa-nav__submenu"><li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li><li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li><li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li></ul></li><li class="usa-nav__primary-item">
    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-nav-section-two"><span>Section</span></button>
    <ul id="basic-nav-section-two" class="usa-nav__submenu"><li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li><li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li><li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li></ul></li><li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="javascript:void(0)"><span>Simple link</span></a>
    </li></ul>
</nav>
  </div>-->
</header>

<main id="main-content">

<section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
       <img src="/_includes/assets/img/cdfi_200.jpg" alt="CDFI LOGO">
      </div>
      <div class="tablet:grid-col-8  margin-top-3 purply">

        <h1 class="font-sans-xl" >Access for All: Expanding CDFI Impact in the Disability Community </h1>

      </div>
	
    </div>
	
  </section>
  <section class="usa-section--dark usa-section purply-bg usa-prose" id="about">
   <div class="grid-container">
     
        <p>“Access for All” is a training and technical assistance series offered through the Community Development Financial Institutions Fund’s (CDFI Fund) Capacity Building Initiative to increase the impact and reach of CDFIs in support of the economic development goals of people with disabilities. Through the “Access for All” series, the CDFI Fund will endeavor to increase the number of CDFIs serving individuals with disabilities and, ultimately, increase the impact and reach of CDFIs in the disability community. </p>
<p>The training will be provided by BCT Partners in partnership with a team of disability and CDFI experts.
</p>
<hr>

	</di  v>

	  <div class="grid-container ">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h2 class="font-sans-xl margin-top-0 tablet:margin-bottom-0">What is included?</h2>
      </div>
      <div class="tablet:grid-col-8 usa-prose">
        <p>Organizations that participate in the “Access for All: Expanding CDFI Impact in the Disability Community” series will have access to the following:
<ul>
<li>In-person workshops that bring together CDFIs for knowledge sharing, skill building, and practical action planning.
<li>Webinars on a variety of topics related to understanding and meeting the unique product and customer service needs of individuals with disabilities.
<li>Peer-to-peer learning opportunities.
<li>Individualized technical assistance, focused on addressing your organization’s capacity-building needs regarding serving individuals with disabilities.

</ul>
</p>
<hr>
      </div>
	 
    </div>

	</div>

	  <div class="grid-container ">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h2 class="font-sans-xl margin-top-0 tablet:margin-bottom-0">Who can join? </h2>
      </div>
      <div class="tablet:grid-col-8 usa-prose">
        <p>Eligible participants include:
		<ul>
		<li>Certified CDFIs; and
<li>Non-certified organizations that have received a Community Development Financial Institutions Program or Native American CDFI Assistance Program Technical Assistance award
</ul>

</p>

      </div>
	 
    </div>

	</div>

  </section>
  

  <section class="usa-graphic-list usa-section goldy-light-bg usa-prose" id="trainings">
  <div class="grid-container ">


<h2>In-Person Trainings</h2>

<h3>In-Person Training: Expanding the Capacity of CDFIs to Serve People with Disabilities</h3>

<p>In November and December 2019, the “Access for All” series will offer two-day training sessions in New Orleans, Los Angeles, and Philadelphia for CDFIs that are interested in reaching people with disabilities. Each in-person training will cover the same topics, but will feature different local disability experts as guest speakers.</p>

<p><b>Description:</b> This in-person training will introduce key concepts about serving individuals with disabilities, explore the history of the role of CDFIs in serving persons with disabilities, and provide an in-depth overview of capacity-building tools and resources that CDFIs can utilize to offer products and services that will better serve persons with disabilities in their communities.</p>

<p>
Training objectives include:
<ul>
<li>Understanding the history of disability policy and core issues impacting the disability community; 
<li>Enhancing CDFI products and services to individuals with disabilities including: asset-building, assistive technology, housing, and business lending
<li>Developing partnerships and strategies for CDFIs to best reach and engage individuals with disabilities

</ul>
<p><a href="/_includes/assets/files/treasury_cdfi_capacity-disabilities_training_schedule.docx">View the draft training session descriptions and agenda.</a></p>
<div>

<h4 id="toc_2">Pre-training Webinar: Setting the Stage to Serve the Disability Community</h4>

<p><b>Description:</b> This webinar will orient training registrants to the aims of the “Expanding the Capacity of CDFIs to Serve People with Disabilities” in-person training, including how to prepare for and maximize the impact of the training experience.</p>
<p>
Webinar topics will include:
<ul>
<li>An overview of the aims and learning objectives for the series
<li>An orientation about common types of disabilities
<li>A description of the market characteristics in the U.S.
<li>A description about and recommendations on how to engage disability stakeholders in capacity-building efforts
<li>Opportunities to gather input and feedback on specific training and technical assistance needs
</ul>
<p><em>*** This 45-minute webinar is a pre-requisite to attending each in-person training. Please note that those registering for the in-person trainings will automatically be registered for the corresponding pre-training webinar. ***</em></p>



<table class="usa-table">
  <caption style="font-family:Helvetica; font-size:larger;">Dates and Locations:</caption>
  <thead>
    <tr>
      <th scope="col" style="background-color:#73b3e7;">In-Person Training Date</th>
      <th scope="col" style="background-color:#73b3e7;">In-Person Training Location</th>
      <th style="background-color:#ffbe2e;" scope="col" >Pre-training Webinar Date/Time</th>
      <th scope="col" style="background-color:#73b3e7;">Registration Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="background-color:#d9e8f6;">November 6-7, 2019 </th>
      <td style="background-color:#d9e8f6;">New Orleans, LA</td>
      <td style="background-color:#fee685;">October 21, 2019 at 2pm EDT</td>
      <td style="background-color:#d9e8f6;">Registration closed 10/18/19</td>
    </tr>
    <tr>
      <td style="background-color:#d9e8f6;">December 4-5, 2019 </th>
      <td style="background-color:#d9e8f6;">Los Angeles, CA</td>
      <td style="background-color:#fee685;">November 18, 2019 at 2pm EDT</td>
      <td style="background-color:#d9e8f6;">Registration closed 11/26/19</a></td>
    </tr>
    <tr>
      <td style="background-color:#d9e8f6;">December 11-12, 2019</th>
      <td style="background-color:#d9e8f6;">Philadelphia, PA</td>
      <td style="background-color:#fee685;">November 25, 2019 at 2pm EDT</td>
      <td style="background-color:#d9e8f6;">Registration closed 12/4/19</td>
    </tr>
   
  </tbody>
</table>


<!--<ul>


<li><a href="https://umassboston.qualtrics.com/jfe/form/SV_cPdnRNa4pOpYkw5">November 6-7, 2019 (New Orleans, LA)</a>
<br> <em class="margin-left-2">Pre-training webinar on October 21, 2019 (2pm EDT)</em></li>


</ul>-->
</div>

<div class="border padding-205 purply">
<h3 id="toc_3">Scholarships for In-Person Trainings</h3>

<p>Lodging and travel scholarships will be available for each training workshop for up to two individuals from each participating CDFI. There will be an initial limit of one scholarship per CDFI. If space is available, a second staff member from a CDFI may also receive a scholarship.    In addition, for workshops #2 and #3, priority will be given to CDFIs that did not have a representative(s) attend a previously held workshop in this series. </p>

<p>Scholarships will cover: Up to $450 for airfare, train fare, or mileage costs (up to the authorized airfare amount) and lodging for two nights. </p>

<p>Detailed information regarding applying for and receiving lodging and travel scholarships will be included in the registration instructions for each workshop.</p>

</div>
</div>

</section>

<section class="usa-section goldy-bg  usa-prose">
<div class="grid-container">
<h2 id="toc_4">Virtual Trainings</h2>
<P>“Access for All” includes four webinars for CDFIs that are interested in reaching people with disabilities. The webinars provide additional training that addresses topics and interests expressed by the workshop attendees. </p>
<hr>

<h3>Home for All: Financing Affordable, Accessible Housing and Community Facilities</h3>

<p><b>Date:</b>  Wednesday, March 11, 2020 at 1:00 p.m. – 3:00 p.m. EST</p>

<p><b><a href="https://communityinclusion.zoom.us/webinar/register/WN_dHNFsl7qRK2ltR4OgBIfCQ">REGISTER HERE</a></b></p>

<p>This webinar examines the role CDFIs can play in creating and/or supporting housing options for people with disabilities.</p>

<p>This virtual training will provide:


<ul>
<li>A summary of the unique housing challenges faced by people with disabilities</li>
<li>An array of housing opportunities and choices</li>
<li>“Community-integrated” versus “campus-style” housing</li>
<li>How CDFIs can support and/or develop housing for people with disabilities</li>
<li>Case studies of CDFI-led targeted housing initiatives</li>
</ul>
</p>
<!--<h3>Webinar: Minding the Sweet-Spot: Balancing Income and Healthcare Protections with the Promise of New Resources for People with Disabilities</h3>

<p><b>Date & Time:</b> January 29, 2020 at 1:00 p.m. – 3:00 p.m. EST</p>

<p><b>Description:</b> A variety of savings strategies make it possible for individuals with disabilities to accumulate resources that can later be used in combination with CDFI products. However, in serving this new customer base, lenders must mind the sweet spot of individual income characteristics and important healthcare protections. This workshop will review income and asset limit characteristics, saving strategies, financial education resources, and customer service techniques to increase the capacity of CDFIs to better serve customers with disabilities.</p>

<p><b>Registration:</b> <a href="https://communityinclusion.zoom.us/webinar/register/WN_OPpMp4YtRSGlBauZWBs6xA">REGISTER HERE</a></p>-->
<hr>

  </div>
</section>


  <section id="ta" class="usa-section usa-prose">
    <div class="grid-container">
<h2>Technical Assistance</h2>
<p>“Access for All” includes opportunities for CDFIs to access subject matter experts for individualized technical assistance (TA) to CDFIs serving or interested in serving persons with disabilities. </p>

<p><b>Community of Practice:</b> Convenings will virtually assemble CDFIs with similar interests and capacity-building needs related to serving people with disabilities. Expert-facilitated discussions will provide critical information and resources related to a particular topic while also providing participants with opportunities to ask questions as well as share their expertise and insights.</p>

<p><b>Registration:</b> <a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_6m90qA4jtBNrEIR">REGISTER HERE</a></p>
<hr>
<p><b>Individualized TA:</b> BCT Partners will provide CDFIs with customized assistance from a subject matter expert to address organization-specific capacity-building needs related to serving people with disabilities. </p>

<p>CDFIs that are interested in receiving TA must submit a <a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_6m90qA4jtBNrEIR">TA Request Form</a>. </p>





<h2>About BCT Partners</h2>
<p>The CDFI Fund has selected BCT Partners and other partnering organizations to deliver training and technical assistance for this initiative. Learn more about the content experts below.</p>
<p><a href="https://www.bctpartners.com/"><img src="/_includes/assets/img/bctp.webp" alt="BCT Partners"></a></p> 
<p>BCT Partners is a national, multi-disciplinary consulting firm that delivers a full range of research, consulting, training, technology, and analytics services. Our mission is to provide insights about diverse people that lead to equity. Our vision is a world where a greater understanding of diverse people leads to equity. By 2022, we endeavor to be a national leader in helping organizations make better decisions, improve outcomes and amplify their impact toward a more equitable society. BCT is a minority-owned and operated, Federal 8(a) joint venture, small disadvantaged business enterprise and one of the leading firms in the country with expertise in the following markets: housing and community development, economic development, workforce development, children and families, health, pharmaceuticals and life sciences, education, and energy.</p>


<h2>Contact Us</h2>
<p>Please note that BCT Partners will follow up with opportunities to register for individual webinars and in-person workshops at a later date. </p>
<p>If you have questions about this initiative or need assistance with the registration, please contact us at <a href="mailto:cdfi@bctpartners.com">cdfi@bctpartners.com</a> or use the form below.</p>

<form class="usa-form border-y margin-y-205 padding-y-205" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" style="margin:auto;">
  <p class="hidden">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Contact Form</legend>
   

    <label class="usa-label" for="name">Name:</label>
    <input class="usa-input" id="name" name="name" type="text" autocapitalize="off" autocorrect="off">

    <label class="usa-label" for="password-sign-in">Email:</label>
    <input class="usa-input" id="email" name="email" type="email" autocapitalize="off" autocorrect="off">

    <label class="usa-label" for="password-sign-in">Message:</label>
    <textarea class="usa-textarea" id="message" name="message" type="textarea" autocapitalize="off" autocorrect="off"></textarea>


    <input class="usa-button" type="submit" value="Submit">
    
  </fieldset>
</form>



    </div>
  </section>


	</body>

</html>
